<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head-content %>
</head>
<body>
  <% include ../partials/navigation %>

  <div class="container">

    <div class="row">

      <div class="center-align">
        <h1 class="logo">mass</h1>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <!-- <img src="https://i1.wp.com/kitchensanctuary.com/wp-content/uploads/2015/03/Perfect-Fried-Rice-Square.jpg?resize=680%2C680&ssl=1"> -->
            <span class="card-title">Today's Best Seller</span>
          </div>
          <div class="card-content">
            <p>
              Today's Best Seller is <strong>Nasi Goreng</strong><br>
            </p>
          </div>
          <div class="card-action">
            <a href="/admin/report">Go to Report</a>
          </div>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="row">
          <div class="col s12">
            <div class="card red darken-1">
              <div class="card-content white-text">
                <span class="card-title">Menus</span>
                <p>
                  If you don't have menus, why'd you open a restaurant?!<br><br>
                  You have: <strong><%= counter.menus %></strong> menu<%= counter.menus > 1 ? 's' : '' %>
                </p>
              </div>
              <div class="card-action">
                <a href="/admin/menus">Menu List</a>
              </div>
            </div>
          </div> <!-- .card -->
          <div class="col s12">
            <div class="card blue darken-1">
              <div class="card-content white-text">
                <span class="card-title">Tables</span>
                <p>
                  Give your customers a table. Don't forget the chairs too!<br><br>
                  You have: <strong><%= counter.tables %></strong> table<%= counter.tables > 1 ? 's' : '' %>
                </p>
              </div>
              <div class="card-action">
                <a href="/admin/tables">Table List</a>
              </div>
            </div>
          </div> <!-- .card -->
          <div class="col s12">
            <div class="card purple darken-1">
              <div class="card-content white-text">
                <span class="card-title">Users</span>
                <p>
                  Manage users<br><br>
                  You have: <strong><%= counter.users %></strong> user<%= counter.users > 1 ? 's' : '' %>
                </p>
              </div>
              <div class="card-action">
                <a href="/admin/users">User List</a>
              </div>
            </div>
          </div> <!-- .card -->
        </div>
      </div>
    </div>
  </div>


  <% include ../partials/scripts %>
</body>
</html>
