<%- include('templates/header.ejs') %>

<div class="kitchen-container">
	<div id="kitchen-tagline-wrapper">
		<div id="kitchen-tagline">
			<div>
				<h2 id="kitchen-title">
				KITCHEN
				</h2>
				<p>With Enough Butter, Anything Is Good</p>
			</div>
		</div>
	</div>
	<div id="pending-orders-wrapper">
		<% for (let batch in viewData.data.orders) { %>
		<div class="card white">
      <div class="card-content white-text">
      	<i class="material-icons">local_dining</i>
      	<div class="batch-info">
      		<p>Table: <span><%=viewData.data.orders[batch][0].Table.tableNumber%></span></p>
      		<p>Batch: <span class="batch-info-title"><%=batch%></span></p>
      	</div>
      	<div class="batch-order">
      		<span class="batch-info-title">Orders:<br></span>
      		<% viewData.data.orders[batch].forEach(order => { %>
					<span class="menu-ordered"><span><%=order.quantity%></span> <%=order.Menu.name%></span>
					<br>
					<% }) %>
      	</div>
      	<div class="batch-notes">
      		<span class="batch-info-title">Notes:<br></span>
      		<p><%=viewData.data.orders[batch][0].note%></p>
      	</div>
      </div>
      <div class="card-action">
        <form action="/kitchen" method="POST">
					<input type="hidden" name="batch" value="<%=batch%>">
					<input type="submit" value="ORDER READY">
				</form>
      </div>
    </div>
    <% } %>
	</div>
</div>

<script type="text/javascript">
// document.addEventListener('DOMContentLoaded', function(){
// 	setTimeout(function(){
//   	window.location.reload(1);
// 	}, 1000);
// }, false);
</script>
<%- include('templates/footer.ejs') %>