<%- include('templates/header.ejs') %>
<div class="table-container">
	<div id="menu-tagline-wrapper">
		<div id="menu-tagline">
			<h3>Today's Menu</h3>
		</div>
	</div>
	<div id="order-sheet">

		<form action="/table/<%=viewData.data.tableId%>/menu" method="POST">
			<!-- START LOOPING -->
			<%viewData.data.availableMenus.forEach(menu => {%>
				<div class="card black">
          <div class="card-content white-text">
            <span class="card-title"><%= menu.name %></span>
            <p><%= menu.description %></p>
          </div>
          <div class="card-action menu-card-flex">
          	<div class="menu-card-price">
          		<p>IDR <span class="numeric"><%= menu.price %></span></p>
          	</div>
          	<div class="menu-card-qty">
            	<label>Quantity</label>
              <input type="number" name="<%= menu.id + '-' + menu.price %>" min="0" max="100">
            </div>
          </div>
        </div>
			<%})%>
			<!-- LOOP ENDS -->

				<div class="card black">
          <div class="card-content white-text" id="notes-card">
            <span class="card-title">Notes:</span>
            <input type="text" name="note">
            <input type="submit" value="ORDER">
          </div>
        </div>

		</form>
	</div>
</div>

<%- include('templates/footer.ejs') %>
<% include admin/partials/numeric %>
