<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head-content %>
</head>
<body>

  <% include ../partials/navigation %>

  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">
        <% include ../partials/success %>
        <div class="card material-table">
          <div class="table-header">
            <span class="table-title">Tables</span>
            <div class="actions">
              <a href="/admin/tables/add" class="waves-effect btn-flat nopadding"><i class="material-icons">add</i></a>
              <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
            </div>
          </div>
          <table id="table-datatable" class="responsive-table striped bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Table No.</th>
              <th>Empty</th>
              <th width="175">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% tables.forEach((table, index) => { %>

              <tr>
                <td><%= index + 1 %></td>
                <td><%= table.tableNumber %></td>
                <td>
                  <span class="<%= table.isEmpty ? 'teal-text' : 'red-text' %>">
                    <%= table.isEmpty ? 'Yes' : 'No' %>
                  </span>
                </td>
                <td>
                  <a href="/admin/tables/<%= table.id %>/edit" class="waves-effect waves-light btn amber darken-3"><i class="material-icons">create</i></a>
                  <a href="/admin/tables/<%= table.id %>/delete" class="waves-effect waves-light btn red darken-3"><i class="material-icons">delete</i></a>
                </td>
              </tr>

            <% }) %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/scripts %>
  <% include ../partials/datatable-scripts %>

  <script>
    $(document).ready(function() {
      $('#table-datatable').dataTable({
        "oLanguage": {
          "sStripClasses": "",
          "sSearch": "",
          "sSearchPlaceholder": "Enter Keywords Here",
          "sInfo": "_START_ -_END_ of _TOTAL_",
          "sLengthMenu": '<span>Rows per page:</span><select class="browser-default">' +
            '<option value="10">10</option>' +
            '<option value="20">20</option>' +
            '<option value="30">30</option>' +
            '<option value="40">40</option>' +
            '<option value="50">50</option>' +
            '<option value="-1">All</option>' +
            '</select></div>'
        },
        bAutoWidth: false
      });
    });

  </script>

</body>
</html>
